// Roboto font
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Fonts
$font-family: roboto, sans-serif;

// Color palette reference
$navy-blue: #00001a;
$white: #ffffff;
$yellow: #ffff00;

// Margin offset values generic
$body-padding: 10px;