// From standard imports
@import 'reset';
@import 'presets';

// From main.scss
html, body {
    height: 100%;
    background: $navy-blue;
    font-family: $font-family;
    color: $yellow;
    padding: $body-padding;
}

body {
    
}